################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maz3
/Maz3/.vs/Maz3
/Maz3/models/el3.obj
/Maz3/models/Musa_highpoly.mtl
/Maz3/models/Musa_highpoly.obj
/Maz3/models/procuration.pdf
/Maz3/models/SimpleTest.obj
/Maz3/models/test.obj
/Maz3/models/test0.obj
/Maz3/models/test1.obj
/Maz3/models/test2.obj
/Maz3/models/test3.obj
/Maz3/models/test4.obj
*.rar
*.vcxproj
*.user
*.obj
/Maz4/x64/Debug
*.filters
*.config
/Maz3/models
/Output
/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
/symbolicComputation/GSplines/book
/symbolicComputation/GSplines
/symbolicComputation
/x64/Debug
*.sln
/Maz3
/models
/Maz4
/pch.cpp
